@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');
@import "modalWindows.css";

/*base pages settings*/
html {
    font-size: 16px;
}

/*Обнуляем отступы*/
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: #f0f4f8;
    font-family: 'Manrope', sans-serif;
}

button {
    outline: none;
    background: transparent;
    border: transparent;
    cursor: pointer;
}

main {
    margin-top: -1.5rem;
}

#header {
    height: 3.5em;
    padding: 0 1.25em;
    background: #72c1fa;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

#timerContainer {
    height: 35vh;
    margin: 1.5rem;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr;
}


#projectContainer {
    height: calc(100vh - (35vh + 3.5rem + 1.5rem));
    box-sizing: border-box;
    margin: 1rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

#projectHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    padding: 0 1.5rem;
    border-radius: 5px 5px 0 0;
    background-color: #0094ff40;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.15rem;
}

#projectBlock {
    box-sizing: border-box;
    overflow-y: auto;
}

#btn-createProject {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.15rem;
    transition: all 0.3s ease 0s;
}

#btn-createProject:hover{
    font-size: 1.25rem;
    color: #358bcc;
    transition: all 0.3s ease 0s;
}
