@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');
@import "modalWindows.css";
@import "taskBlock.css";

/*base pages settings*/
html {
    font-size: 16px;
}

/*Обнуляем отступы*/
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: #f0f4f8;
    font-family: 'Manrope', sans-serif;
}

button {
    outline: none;
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.material-icons {
    display: inline-block;
    color: #a9a9b2;
    transition: all 0.3s ease 0s;
}

main {
    margin-top: -1.5rem;
}

.header {
    position: relative;
    height: 3.5em;
    padding: 0 1.25em;
    background: #72c1fa;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.hide {
    display: none;
}

#headerProjectTitle {
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

#headerText {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50% , -50%);
}



#headerBtn, .header > button{
    color: #eeeeee;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50% , -50%);
}

#timerContainer {
    height: 35vh;
    margin: 1.5rem;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr;
}


#projectContainer {
    height: calc(100vh - (35vh + 3.5rem + 1.5rem));
    box-sizing: border-box;
    margin: 1rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

#projectHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    padding: 0 1.5rem;
    border-radius: 5px 5px 0 0;
    background-color: #0094ff40;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.15rem;
}

#projectBlock {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

#btn-createProject {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.15rem;
    transition: all 0.3s ease 0s;
}

#btn-createProject:hover{
    font-size: 1.25rem;
    color: #358bcc;
    transition: all 0.3s ease 0s;
}

.projectTime {
    display: grid;
    grid-template-columns: 30px 2fr 1.5fr 0.25fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 1rem;
    border-bottom: none;
    background-color: #efefef;
    transform: perspective(1px) translateZ(0);
    transition: all 0.3s ease 0s;
    cursor: default;
    font-size: 1.2rem;
}

.projectTime > input[type="color"] {
    padding: 0;
    border: none;
    width: 25px;;
    height: 25px;
    outline: none;
    cursor: inherit;
    background: transparent;
}

.projectTime > input[type="text"] {
    border: none;
    font-size: 1rem;
    background: transparent;
}

.projectTime > input[type="text"]:focus {
    outline: 0;
    border-bottom: 1px solid #358bcc;
}

.totalScoreContainer {
    display: flex;
    justify-content: space-evenly;
}

.totalProjectScore {
    display: inline-block;
    text-align: right;
    width: auto;
}

.totalProjectScore > span:first-child {
    padding-right: 5px;
}

.totalScoreText {
    display: inline-block;
    text-align: left;
    width: auto;
}

.delete{
    transition: all 0.3s ease 0s;
}

.delete:hover{
    color: red;
    transition: all 0.3s ease 0s;
}


.projectBlock_container {
    border-bottom: none;
}

/*.projectBlock_container:hover {
    border-bottom: 1px solid #72c0f9;
}*/

.projectBlock_container:hover > .projectTime {
    border-bottom: 1px solid #72c0f9;
}

/*Контекстное меню по правой клавише*/
#context-menu {
    display: block;
    position: absolute;
    z-index: 1;

    background-color: rgb(159, 217, 255);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.context-menu--active {
    display: block;
}

.context-menu__items > li {
    padding: 0.5rem;
}

.context-menu__items > li:hover {
    background-color: rgb(64, 165, 252);
    transition: all 0.3s ease 0s;
}

.start:hover {
    color: #008c00;
}

.pause:hover {
    color: #a80000;
}